.banner-viewer-container {
  position: fixed;
  top: 0;
  inset-inline-start: 50%;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-inline: 8px;
  max-width: 100vw;
  translate: -50%;
}